.content{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.signin-body{
    background-color: rgb(224, 230, 230);
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    /* border-radius: 1px solid red; */
}
.signin-body .title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: larger;
    height: 1rem;
    
}
.signin-form{
    height: 15%;
    padding: 0.5rem;
    width: 100%;
    
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
label { display:block;
    padding: 0.25rem;
 }
input{
    width: 97%;
    padding: 0.25rem;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btns input{
    width:40%;
}
.signin-form div{
    /* background-color: black; */
    padding: 0.15rem;
}
.signin-links{
    /* padding: 0.25rem; */
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    width: 100%;
    height: 1%;
    
}

.signin-providers{
   height: 1%;
    padding: 0.2rem;
    /* background-color:antiquewhite; */
}


